@import "tailwindcss";

* {
    margin: 0px;
}

.hamburger-btn {
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #141414;
    z-index: 11;
}

.sidebar {
    width: 200px;
    background: #121415;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    position: absolute;
    z-index: 10;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sidebar-logo {
    font-size: 24px;
    padding-top: 10px;
}

.sidebar-logo-text {
    padding: 10px 0;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
    background: #404246;
}

.sidebar-user {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.user-email {
    font-size: 12px;
    color: #bbb;
}

.main {
    margin-left: 25px;
    padding-top: 2rem;
}

.streams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7rem;
    padding-left: 5rem;
    padding-top: 5rem;
}

.my-stream video {
    border-radius: 10px;
    border: 2px solid white;
    scale: 1.2;
    width: 30rem;
    transform: scaleX(-100%);
}

.remote-stream video {
    border-radius: 10px;
    border: 2px solid white;
    scale: 1.2;
    width: 30rem;
    transform: scaleX(-100%);
}

.my-stream .username {
    color: white;
    background-color: #1a1c1e;
    /* border: 2px solid white; */
    border-radius: 10px;
    width: fit-content;
    padding: 1.2rem;
    position: relative;
    top: -4rem;
    left: -2rem;
}

.remote-stream .username {
    color: white;
    background-color: #1a1c1e;
    /* border: 2px solid white; */
    border-radius: 10px;
    width: fit-content;
    padding: 1.2rem;
    position: relative;
    top: -4rem;
    left: -2rem;
}

.call-nav {
    background-color: #0a0a0a;
    border-radius: 7px;
    width: fit-content;
    margin-top: 4rem;
    justify-self: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.call-btn {
    position: absolute;
    top: 40rem;
    left: 17rem;
    scale: 1.2;
    margin-top: 5rem;
}

.accept-btn {
    position: absolute;
    top: 40rem;
    left: 20rem;
    scale: 1.2;
    margin-top: 5rem;
}

@media (width > 768px) {
    .sidebar {
        transform: translateX(0%);
    }

    .hamburger-btn {
        display: none;
    }

    .main {
        margin-left: 220px;
    }
}

@media (width <= 768px){
    
}

@media (width <=480px) {
    .sidebar {
        transition: all 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .sidebar.is-open {
        transform: translateX(0%);
    }

    .logo {
        transform: scale(0.8);
        margin-top: 2.5rem;
        padding: 0px;
    }

    .main {
        padding-top: 70px;
    }

    .my-stream {
        position: absolute;
        margin-top: 22rem;
        height: 12rem;
        width: 12rem;
        left: 45px;
    }

    .remote-stream {
        position: absolute;
        top: 13rem;
        left: 2.3rem;
        /* border: 2px solid #fff; */
        /* height: 50rem; */
        width: 21rem;
    }

    .call-nav {
        position: absolute;
        top: 45rem;
    }

    .accept-btn {
        left: 9rem;
    }

}